body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #616971;
    background-color: aliceblue;
    margin: 0 auto;
}



/* Navbar */



.navbar .container img {
    width: 10rem;
    height: 3rem;
}

.navbar {
    background-color: black;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
    z-index: 1;
}

.nav-link {
    color: #aaaaaa!important;
}

.nav-link.active, .nav-link:hover {
    color: #FF725E!important;
}

.nav-item {
    margin-right: 35px;
}

.navbar .container a {
    margin: 0 auto;
}




/* Index Page */




#background {
    background-color: #D1EBEC;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3cpath d='M210.272%2c625.76C263.655%2c623.936%2c320.593%2c613.013%2c347.757%2c567.022C375.277%2c520.429%2c360.638%2c463.313%2c334.065%2c416.173C306.896%2c367.976%2c265.547%2c325.516%2c210.272%2c323.125C151.265%2c320.572%2c97.169%2c354.165%2c66.424%2c404.594C34.295%2c457.294%2c21.834%2c525.269%2c55.487%2c577.01C87.098%2c625.611%2c152.329%2c627.74%2c210.272%2c625.76' fill='rgba(119%2c 164%2c 211%2c 0.24)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M50.276%2c236.142C76.053%2c235.085%2c94.84%2c213.919%2c106.604%2c190.958C117.219%2c170.239%2c118.209%2c146.095%2c106.812%2c125.796C95.167%2c105.054%2c74.043%2c91.599%2c50.276%2c90.631C24.652%2c89.588%2c-1.376%2c99.015%2c-14.838%2c120.843C-28.919%2c143.676%2c-27.855%2c172.572%2c-14.663%2c195.93C-1.244%2c219.692%2c23.01%2c237.26%2c50.276%2c236.142' fill='rgba(119%2c 164%2c 211%2c 0.24)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1356.321%2c449.199C1375.365%2c448.174%2c1389.748%2c434.593%2c1400.003%2c418.513C1411.373%2c400.684%2c1422.851%2c379.291%2c1412.751%2c360.713C1402.381%2c341.64%2c1377.996%2c336.938%2c1356.321%2c338.167C1336.94%2c339.266%2c1320.163%2c350.011%2c1309.985%2c366.541C1299.212%2c384.036%2c1293.608%2c405.778%2c1303.655%2c423.7C1313.877%2c441.935%2c1335.446%2c450.323%2c1356.321%2c449.199' fill='rgba(119%2c 164%2c 211%2c 0.24)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M878.821%2c600.887C910.578%2c600.964%2c944.409%2c595.75%2c961.883%2c569.233C980.925%2c540.338%2c982.645%2c501.215%2c963.501%2c472.387C945.859%2c445.82%2c910.703%2c443.412%2c878.821%2c444.153C848.665%2c444.854%2c817.325%2c451.005%2c800.698%2c476.173C782.431%2c503.823%2c778.857%2c540.75%2c796.449%2c568.834C813.213%2c595.595%2c847.243%2c600.811%2c878.821%2c600.887' fill='rgba(119%2c 164%2c 211%2c 0.24)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M562.313%2c333.086C607.151%2c331.749%2c640.006%2c297.607%2c664.365%2c259.939C691.875%2c217.398%2c722.657%2c166.918%2c698.602%2c122.332C673.884%2c76.518%2c614.343%2c69.107%2c562.313%2c70.79C513.839%2c72.358%2c464.779%2c88.705%2c440.488%2c130.683C416.162%2c172.721%2c424.102%2c224.742%2c449.148%2c266.355C473.352%2c306.569%2c515.398%2c334.485%2c562.313%2c333.086' fill='rgba(119%2c 164%2c 211%2c 0.24)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M273.107%2c127.922C293.039%2c129.323%2c315.303%2c126.105%2c325.767%2c109.083C336.578%2c91.497%2c330.351%2c69.467%2c320.035%2c51.586C309.712%2c33.692%2c293.764%2c18.039%2c273.107%2c17.807C252.123%2c17.571%2c233.504%2c31.644%2c224.317%2c50.511C216.102%2c67.381%2c221.87%2c86.611%2c231.875%2c102.485C241.104%2c117.127%2c255.842%2c126.709%2c273.107%2c127.922' fill='rgba(119%2c 164%2c 211%2c 0.24)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-bottom: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.row {
    margin: 0 auto;
}

#imagem-esquerda {
    max-width: 100%;
    min-width: 80%;
}    


.setor-principal .row {
    display: flex;
}

.setor-principal .col-xl-6 button {
    background-color: #FF725E;
    width: 65%;
    height: 45px;
}

.setor-principal .container {
    padding: 0;
}

.setor-principal .container-fluid {
    display: flex;
    justify-content: center;
}

#coluna-direita {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#coluna-direita .container {
    max-width: 65%;
}

#coluna-direita-header {
    font-size: 30px;
}

#mountains {
    display: flex;
    justify-content: flex-end;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(209,235,236,1) 100%);
}

#mountains img {
    width: 55%;
    margin-top: 50px;
}

#content {
    padding: 10%;
}

.background-card {
    padding: 20px;
}

.background-card img {
    width: 100%;
    height: 40vh;
}

.card.text-center {
    height: 100%;
    box-shadow: 8px 8px 15px #ececec, -8px -8px 15px #e4e4e4;
    transition: box-shadow 0.35s ease !important;
}

.card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, .1);
    background-color: rgb(70, 70, 70);
    color: rgb(238, 238, 238);
}

.carousel-inner {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#containerCarousel {
    width: 35rem;
    margin-top: 8%;
    margin-bottom: 8%;
}

#cooking {
    background-color: #C79BE3;
}

#music {
    background-color: #505A8D;
}

.card-title {
    font-size: 25px;
}

#fit {
    background-color: #FFF9A4;
}

#literature {
    background-color: #78D1AD;
}

#content .col-lg-4 {
    margin-bottom: 10%;
}




/* Login / Register Page */



.login-register-body {
    background-color: #F0F0F3;
}

#sign-background {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 3%;
    width: 50vh;
    background-color: #fffefe;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, .1);
}

.login-register-body .center-background {
    width: 100%;
    height: 92vh;
}

#login-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    margin-bottom: 7%;
}

#form-container {
    display: flex;
    flex-direction: column;
}

#enter-btn {
    background-color: #FF725E;
}

.login-register-body form hr {
    width: 100%;
    margin-top: 7%;
}

#account-text{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

#check-btns {
    display: flex;
    justify-content: space-around;
}

.form-check {
    padding-left: 0;
}

#age-form {
    display: flex;
    justify-content: space-between;
}

#age-form-day {
    width: 20%;
}

#age-form-month {
    width: 37%;
}

#age-form-year {
    width: 20%;
}

#other-btn {
    width: 100%;
    border: 1px solid black;
}

#terms-group label {
    margin-left: 1.5rem;
}

#gender-group{
margin-top: 2%;
}

#age-group{
margin-top: 5%;
}

#terms-group {
    margin-top: 2%;
}

.login-register-body .center-background {
    margin-top: 135px;
}

#trigger-modal {
    visibility: hidden;
}



/* Modals */







/* Index Page Hover Effects */








/* Media queries */



@media (max-width: 1430px) {
    #coluna-direita-header {
        font-size: 25px;
    }
}

@media (max-width: 1199px) {
    #coluna-esquerda {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 7%;
    }

    #imagem-esquerda {
        min-width:auto;
        width: 70%;
    }

    #coluna-direita {
        padding: 15px;
        background-color: rgb(255, 255, 255);
        bottom: 0;
        border-bottom: solid 40px #D1EBEC;
    }

    #coluna-direita .container {
        text-align: center;
        max-width: 70%;
    }

    .setor-principal .col-xl-6 button {
        max-width: 50%;
    }

    #coluna-direita-text {
        padding-bottom: 1rem;
    }

    #mountains {
        display: none;
    }
}

@media (max-width: 767px) {
    #coluna-direita-header {
        font-size: 20px;
    }

    #coluna-esquerda img {
        width: 80%;
    }

    .login-register-body .center-background {
        margin-top: 110px;
    }
}

@media (max-width: 574px) {
    #coluna-direita-header {
        font-size: 18px;
    }
    #coluna-direita-text {
        font-size: 15px;
    }

    #coluna-esquerda img {
        width: 100%;
    }

    .setor-principal .col-xl-6 button {
        max-width: 90%;
    }

    #coluna-direita .container {
        max-width: 90%;
        text-align: left;
    }

    #coluna-direita {
        justify-content: center;
    }

   .login-register-body .center-background {
        margin-top: 80px;
    }

    #containerCarousel{
        width: 25rem;
    }

    .card-title{
        font-size: 18px;
    }

    .card-body {
        font-size: 15px;
    }
}


@media only screen and (max-width: 480px){
    .modal-dialog{ width: 95% !important; }
    .modal.fade .modal-dialog{ transform: scale(0.7); }
}


@media (max-width: 420px) {
    #sign-background {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    #containerCarousel {
        width: 20rem;
    }
}

@media (max-width: 360px) {
    .setor-principal .col-xl-6 button {
        font-size: 13px;
    }
}