body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #616971;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}



/* Navbar */



.navbar .container img {
    width: 10rem;
    height: 3rem;
}

.navbar {
    background-color: black;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
    z-index: 1;
}

.nav-link {
    color: #aaaaaa!important;
}

.nav-link.active, .nav-link:hover {
    color: #FF725E!important;
}

.nav-item {
    margin-right: 35px;
}

.navbar .container a {
    margin: 0 auto;
}




/* Index Page */




#background {
    background-color: #D1EBEC;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-bottom: 0;

}

.row {
    margin: 0 auto;
}

#imagem-esquerda {
    max-width: 100%;
    min-width: 80%;
}    

#coluna-esquerda {
    bottom: 30px;
}

.setor-principal .row {
    display: flex;
    align-items: flex-end;

}

.setor-principal .col-xl-6 button {
    background-color: #FF725E;
    width: 65%;
    height: 45px;
}

.setor-principal .container {
    padding: 0;
}

.setor-principal .container-fluid {
    display: flex;
    justify-content: center;
}

#coluna-direita {
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: center;
    bottom: 30px;
}

#coluna-direita .container {
    max-width: 65%;
}

#coluna-direita-header {
    font-size: 30px;
    word-spacing: 7px;
}

#mountains {
    display: flex;
    justify-content: flex-end;
}

#mountains img {
    width: 60%;
}

#content {
    padding: 10%;
    background-color: #D1EBEC;
}

.background-card {
    padding: 20px;
}

.background-card img {
    width: 100%;
    height: 40vh;
}

.card.text-center {
    height: 100%;
}

.card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, .1);
}

#cooking {
    background-color: #C79BE3;
}

#music {
    background-color: #505A8D;
}

.card-title {
    font-size: 25px;
}

#fit {
    background-color: #FFF9A4;
}

#literature {
    background-color: #78D1AD;
}

#content .col-lg-4 {
    margin-bottom: 10%;
}




/* Login / Register Page */


.login-register-body {
    background-color: #F0F0F3;
}

#sign-background {
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 3%;
    width: 50vh;
    background-color: #fffefe;
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, .1);
}

.login-register-body .center-background {
    width: 100%;
    height: 92vh;
}

#login-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    margin-bottom: 7%;
}

#form-container {
    display: flex;
    flex-direction: column;
}

#enter-btn {
    background-color: #FF725E;
}

.login-register-body form hr {
    width: 100%;
    margin-top: 7%;
}

#account-text{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

#check-btns {
    display: flex;
    justify-content: space-around;
}

.form-check {
    padding-left: 0;
}

#age-form {
    display: flex;
    justify-content: space-between;
}

#age-form-day {
    width: 20%;
}

#age-form-month {
    width: 37%;
}

#age-form-year {
    width: 20%;
}

#other-btn {
    width: 100%;
    border: 1px solid black;
}

#terms-group label {
    margin-left: 1.5rem;
}

#gender-group{
margin-top: 2%;
}

#age-group{
margin-top: 5%;
}

#terms-group {
    margin-top: 2%;
}

.login-register-body .center-background {
    margin-top: 135px;
}



/* Media queries */



@media (max-width: 1430px) {
    #coluna-direita-header {
        font-size: 25px;
    }
}

@media (max-width: 1199px) {
    #coluna-esquerda {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        padding-bottom: 25px;
    }

    #imagem-esquerda {
        min-width:auto;
        width: 70%;
    }

    #coluna-direita {
        padding: 15px;
        background-color: aliceblue;
    }

    #coluna-direita .container {
        text-align: center;
        max-width: 70%;
    }

    .setor-principal .col-xl-6 button {
        max-width: 50%;
    }

    #coluna-direita-text {
        padding-bottom: 1rem;
    }
}

@media (max-width: 767px) {
    #coluna-direita-header {
        font-size: 20px;
    }

    #coluna-esquerda img {
        width: 80%;
    }

    .login-register-body .center-background {
        margin-top: 110px;
    }
}

@media (max-width: 574px) {
    #coluna-direita-header {
        font-size: 18px;
    }
    #coluna-direita-text {
        font-size: 15px;
    }

    #coluna-esquerda img {
        width: 100%;
    }

    .setor-principal .col-xl-6 button {
        max-width: 90%;
    }

    #coluna-direita .container {
        max-width: 90%;
        text-align: left;
    }

    #coluna-direita {
        justify-content: center;
    }

   .login-register-body .center-background {
        margin-top: 80px;
    }
}

@media (max-width: 420px) {
    #sign-background {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 360px) {
    .setor-principal .col-xl-6 button {
        font-size: 13px;
    }
}



@media (max-height: 722px) {
    .login-register-body #account-text h5 {
        font-size: 1.1rem;
    }
    
    .login-register-body form {
        font-size: small;
    }

    .login-register-body #age-form input {
        font-size: small;
    }

    .login-register-body #account-text h5 {
        font-size: medium;
    }

    #login-header h4 {
        font-size: large;
    }

    #sign-background {
        width: 100%;
        height: 470px;
    }
}

@media (max-height: 613px) {
    .login-register-body #account-text h5 {
        font-size: small;
    }

    .login-register-body .center-background {
        display: flex;
        height: 80vh;
    }

    #sign-background {
        width: 300px;
        height: 440px;
    }
}

